/*Heading and Background*/

h1 {
    background-color: yellow;
    text-align: end;
    font-family: Arial;
    color: #000;
    align-items: left;
}

.heading:hover {
    background-color: black;
    color: yellow;
}

body {
    background-color: gray;
}
/*Background Text*/


p {
    text-decoration: underline;
    font-family: h;
    font-size: medium;
}

/* Styling of Center Boxes*/

.centerBox {
    width: 150px;
    height: 200px; 
    margin: 0px;
    padding: 5px 75px 100px 25px;
    float: left;


}

.centerBox:hover {
    background-color: green;
    cursor:help;
}
 

.div1.div3 {
    font-family: Arial; 
    text-align: center; 
    
}

.div1 {
    background-color: palevioletred;
}

.div2 {
    background-color: black;
    color: white; 
    font-family: Arial;
    font-weight: 1000; 

}

.div3 {
    background-color: red;
    color: white; 
}



/*Linked In*/
.linkToLinkedIn {
    background-color: green;
    border-style: dashed;
    border-color: yellow;
    border-radius: 25px;
    padding: 10px 10px 10px 10px; 
    margin: auto;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20000px; 
}

.linkToLinkedIn:hover {
    background-color: red;
    border-radius: 0px;
    cursor: pointer;
    
}
