/*Heading*/

h1 {
    background-color: yellow;
    text-align: end;
    font-family: Arial;
    color: #000;
    align-items: left;
}

.heading:hover {
    background-color: black;
    color: yellow;
}

body {
    background-color: gray;
}
/*Font Size of Text*/


p {
    text-decoration: underline;
}

p.p1.p3 {

    font-family: Arial;
    font-size: medium;
}

p2 {
    font-size: larger;
    font-family: Arial;
    font-weight: 1000;
    background-color: lightblue;
    position: fixed;
}


/* Styling of Center Boxes*/

.centerBox {
    width: 320px;
    padding: 0px 25px 100px 25px;
    margin:0;
    
}
div {
    background-color: palevioletred;
    width: 300px;
    padding: 50px;
    margin: 20px;
}

p3 {
    background-color: red;
}



/*Linked In*/
.linkToLinkedIn {
    background-color: green;
    border-style: dashed;
    border-color: yellow;
    border-radius: 25px;
    padding: 10px 10px 10px 10px; 
    text-align: center;  
}

.linkToLinkedIn:hover {
    background-color: red;
    border-radius: 0px;
    
}
